body {
    background:rgb(189, 220, 255);
    color:rgb(0, 0, 0);
    font-family:Courier New;
}

p {
    color:rgb(0, 0, 0);
    margin:30px;
    font-family:Courier New;
}

a {
    color:rgb(0, 0, 0);
    text-decoration:underline;
}

a:hover {
    color:rgb(72, 17, 150);
}

h1 {
    margin:30px;
}