*{
    box-sizing:border-box;
}

img {
    max-width:100%;
}

html, body {
    margin:0;
}

/* html, body, a, button, img {
  cursor: url('img/persimmon.png') 0 0, auto;
} */

.map {
    position: reliative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.map img {
    width:100%;
    height:100%;
    position: absolute;
    top: 50%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%,-50%);
    display:block;

    /* background-image: url('img/map.png'); */
    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* position:absolute;
    top:0;
    left:0;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index: -1; */
}

/* hotspot styling */
.map-point {
    position:absolute;
    width:7px;
    height:7px;
    background-color:red;
    border-radius:50%;
    transform: translate(-50%, -50%); /* center on coordinate */
    z-index: 1;
}

.map-point:hover {
    background-color:yellow;
}

.info-button1 {
  position: fixed;       /* stays in viewport */
  bottom: 20px;          /* distance from bottom */
  right: 20px;           /* distance from right */
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 60%;
  z-index: 100;          /* above other content */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.info-button2 {
  position: fixed;       /* stays in viewport */
  bottom: 20px;          /* distance from bottom */
  left: 20px;           /* distance from right */
  padding: 10px 15px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  font-family:'Courier New', Courier, monospace;
  font-size: 60%;
  z-index: 100;          /* above other content */
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  transition: background-color 0.3s ease;
}

.info-button1:hover {
  background-color: red; 
}

.info-button2:hover {
  background-color: red; 
}